# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/

# 保留lib目录但忽略其中的文件
QR_GENERATOR/lib/*
!QR_GENERATOR/lib/.gitkeep 
QR_GENERATOR/logs/*
/*.iml

# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/maven-wrapper.jar

# Spring Boot
logs/
rsa_keys/

# .NET / C#
bin/
obj/
*.exe
*.dll
*.pdb
*.deps.json
*.runtimeconfig.json
*.csproj.user
*.suo
*.cache

# npm node_modules  
node_modules/


# Database init scripts (temp)
init_db.py
init-database.sql
active-manager/activation-code-verifier/cpp/build/ALL_BUILD.vcxproj
active-manager/activation-code-verifier/cpp/build/ALL_BUILD.vcxproj.filters
active-manager/activation-code-verifier/cpp/build/cmake_install.cmake
active-manager/activation-code-verifier/cpp/build/CMakeCache.txt
active-manager/activation-code-verifier/cpp/build/JonesActivation.sln
active-manager/activation-code-verifier/cpp/build/JonesActivation.vcxproj
active-manager/activation-code-verifier/cpp/build/JonesActivation.vcxproj.filters
active-manager/activation-code-verifier/cpp/build/ZERO_CHECK.vcxproj
active-manager/activation-code-verifier/cpp/build/ZERO_CHECK.vcxproj.filters
active-manager/activation-code-verifier/cpp/build/CMakeFiles/cmake.check_cache
active-manager/activation-code-verifier/cpp/build/CMakeFiles/CMakeConfigureLog.yaml
active-manager/activation-code-verifier/cpp/build/CMakeFiles/generate.stamp
active-manager/activation-code-verifier/cpp/build/CMakeFiles/generate.stamp.depend
active-manager/activation-code-verifier/cpp/build/CMakeFiles/generate.stamp.list
active-manager/activation-code-verifier/cpp/build/CMakeFiles/TargetDirectories.txt
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CMakeCCompiler.cmake
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CMakeCXXCompiler.cmake
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_C.bin
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CMakeDetermineCompilerABI_CXX.bin
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CMakeRCCompiler.cmake
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CMakeSystem.cmake
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/VCTargetsPath.txt
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/VCTargetsPath.vcxproj
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/CMakeCCompilerId.c
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/CompilerIdC.vcxproj
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CMakeCCompilerId.obj
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.exe.recipe
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CMakeCXXCompilerId.cpp
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/CompilerIdCXX.vcxproj
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/VCTargetsPath/Debug/VCTargetsPath.recipe
active-manager/activation-code-verifier/cpp/build/CMakeFiles/3.31.6-msvc6/VCTargetsPath/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
active-manager/activation-code-verifier/cpp/build/CMakeFiles/571d6d8cfe65e955404bee4c8fe12bda/generate.stamp.rule
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/ActivationAntiDebug.obj
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/ActivationCrypto.obj
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/ActivationDeviceInfo.obj
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/ActivationGuard.obj
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/ActivationSecureStorage.obj
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/ActivationTimeGuard.obj
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/ActivationVerifier.obj
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.lib.recipe
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/CL.command.1.tlog
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/Cl.items.tlog
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/CL.read.1.tlog
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/CL.write.1.tlog
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/CustomBuild.command.1.tlog
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/CustomBuild.read.1.tlog
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/CustomBuild.write.1.tlog
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/JonesActivation.lastbuildstate
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/Lib-link.read.1.tlog
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/Lib-link.write.1.tlog
active-manager/activation-code-verifier/cpp/build/JonesActivation.dir/Release/JonesActivation.tlog/Lib.command.1.tlog
active-manager/activation-code-verifier/cpp/build/Release/JonesActivation.lib
active-manager/activation-code-verifier/cpp/build/Win32/Release/ALL_BUILD/ALL_BUILD.recipe
active-manager/activation-code-verifier/cpp/build/Win32/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
active-manager/activation-code-verifier/cpp/build/Win32/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
active-manager/activation-code-verifier/cpp/build/Win32/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
active-manager/activation-code-verifier/cpp/build/Win32/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
active-manager/activation-code-verifier/cpp/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.recipe
active-manager/activation-code-verifier/cpp/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
active-manager/activation-code-verifier/cpp/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
active-manager/activation-code-verifier/cpp/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
active-manager/activation-code-verifier/cpp/build/Win32/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
active-manager/activation-code-verifier/cpp/include/Jones/ActivationAntiDebug.h
active-manager/activation-code-verifier/cpp/include/Jones/ActivationCrypto.h
active-manager/activation-code-verifier/cpp/include/Jones/ActivationDeviceInfo.h
active-manager/activation-code-verifier/cpp/include/Jones/ActivationGuard.h
active-manager/activation-code-verifier/cpp/include/Jones/ActivationSecureStorage.h
active-manager/activation-code-verifier/cpp/include/Jones/ActivationTimeGuard.h
active-manager/activation-code-verifier/cpp/include/Jones/ActivationVerifier.h
active-manager/activation-code-verifier/cpp/include/Jones/ActivationVerifyResult.h
