[mysqld]
# InnoDB Cluster 必需
gtid_mode = ON
enforce_gtid_consistency = ON
binlog_checksum = NONE
log_slave_updates = ON
master_info_repository = TABLE
relay_log_info_repository = TABLE
transaction_write_set_extraction = XXHASH64

# Group Replication
group_replication_group_name = "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
group_replication_start_on_boot = off
group_replication_bootstrap_group = off

# 确保 server-id 唯一
server-id = 1

# 解决 MySQL Shell host 校验问题
report_host = 192.168.31.105
